@import url("/dist/fonts.css");

body {
  background-color: lightgray;
}

input {
  font-family: "Noto Sans"
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

@media all and (max-width: 1299px) {
  h3 {
    font-size: 56px;
  }
  input, footer {
    font-size: 24px;
  }
}
@media all and (max-width: 991px) {
  h3 {
    font-size: 48px;
  }
  input, footer {
    font-size: 18px;
  }
}
@media all and (max-width: 768px) {
  h3 {
    font-size: 36px;
  }
  input, footer {
    font-size: 24px;
  }
}
@media all and (max-width: 575px) {
  h3 {
    font-size: 32px;
  }
  input, footer {
    font-size: 16px;
  }
}
