@import url("/dist/fonts.css");

$blue-dream: #0072F0;
$green-crack: #1CE0AD;
$la-confidential: #0022AC;
$nyc-diesel: #01BBB4;
$white-widow: #ffffff;
$grandaddy-purp: #1B1443;

body {
  background-color: lightgray;
}

#logo {
  object-position: left top;
}
