@import url("/dist/fonts.css");

$blue-dream: #0072F0;
$green-crack: #1CE0AD;
$la-confidential: #0022AC;
$nyc-diesel: #01BBB4;
$white-widow: #ffffff;
$grandaddy-purp: #1B1443;

body {
  background-color: lightgray;
}

#logo {
  object-position: left top;
}

@media all and (max-width: 1299px) {
  h1 {
    font-size: 56px;
  }
  p {
    font-size: 24px;
  }
}
@media all and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 18px;
  }
}
@media all and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 24px;
  }
}
@media all and (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
  }
}
